@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
body {
  font-family: "Poppins", sans-serif;
  background: #fafafa;
}

p {
  font-family: "Poppins", sans-serif;
  font-size: 1.1em;
  font-weight: 300;
  line-height: 1.7em;
  color: #999;
}

a,
a:hover,
a:focus {
  color: inherit;
  text-decoration: none;
  transition: all 0.3s;
}

.navbar {
  padding: 15px 10px;
  background: #fff;
  border: none;
  border-radius: 0;
  margin-bottom: 40px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
  box-shadow: none;
  outline: none !important;
  border: none;
}

.line {
  width: 100%;
  height: 1px;
  border-bottom: 1px dashed #ddd;
  margin: 40px 0;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
  display: flex;
  width: 100%;
  /* align-items: stretch; */
}

#sidebar {
  width: 250px;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  z-index: 999;
  background: #2c3e50;
  color: #fff;
  transition: all 0.3s;
}

#sidebar.active {
  margin-left: -250px;
}

#sidebar .sidebar-header {
  padding: 20px;
  background: #5d6d7e;
}

#sidebar ul.components {
  padding: 20px 0;
  border-bottom: 1px solid #47748b;
}

#sidebar ul p {
  color: #fff;
  padding: 10px;
}

#sidebar ul li a {
  padding: 10px;
  font-size: 1.1em;
  display: block;
}

#sidebar ul li a:hover {
  color: #7386d5;
  background: #fff;
}

#sidebar ul li.active > a,
a[aria-expanded="true"] {
  color: #fff;
  background: #7fb3d5;
}

a[data-toggle="collapse"] {
  position: relative;
}

.dropdown-toggle::after {
  display: block;
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}

ul ul a {
  font-size: 0.9em !important;
  padding-left: 30px !important;
  background: #21618c;
}

ul.CTAs {
  padding: 20px;
}

ul.CTAs a {
  text-align: center;
  font-size: 0.9em !important;
  display: block;
  border-radius: 5px;
  margin-bottom: 5px;
}

a.download {
  background: #fff;
  color: #7386d5;
}

a.article,
a.article:hover {
  background: #6d7fcc !important;
  color: #fff !important;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */
/*  */
#content {
  width: calc(100% - 250px);
  padding: 40px;
  min-height: 100vh;
  transition: all 0.3s;
  position: absolute;
  top: 0;
  right: 0;
}

#content.active {
  width: 100%;
}
/*  */
/* #content {
  width: 100%;
  padding: 20px;
  min-height: 100vh;
  transition: all 0.3s;
} */

/* Heading Style */
#content-header {
  padding: 100px;
  background: blue;
}

.category h3.category-heading {
  background: #464854;
  margin-bottom: 0;
  padding: 10px;
  font-size: 20px;
  border-radius: 3px 3px 0 0;
  color: white;
}

.method {
  padding: 20px;
  width: 600px;
  left: 50%;
  top: 0%;
  margin-left: 50px; /*half the width*/
}

.params {
  width: 600px;
  left: 50%;
  top: 0%;
  margin-left: 100px; /*half the width*/
}

.aparam {
  width: 600px;
  left: 50%;
  top: 0%;
  margin-left: 120px; /*half the width*/
}

.attrs {
  width: 600px;
  left: 50%;
  top: 0%;
  margin-left: 100px; /*half the width*/
}

.returns {
  width: 600px;
  left: 50%;
  top: 0%;
  margin-left: 100px; /*half the width*/
}

.aattr {
  width: 600px;
  left: 50%;
  top: 0%;
  margin-left: 120px; /*half the width*/
}

.noteblock {
  padding: 1.5rem;
  margin-right: 300px;
  margin-left: 50px;
  border-width: 0.2rem;
  /* background-color: #f0b27a; */
}

.card-body {
  background-color: #eaeded;
}

.card-header {
  background-color: #85c1e9;
}

.authors .btn {
  margin-top: 10px;
  margin-bottom: 10px;
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
  #sidebar {
    margin-left: -250px;
  }
  #sidebar.active {
    margin-left: 0;
  }
  #sidebarCollapse span {
    display: none;
  }
}
